<header class="container mt-3 sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 py-1 sticky-top" role="navigation">

        <!--shows only cart outside toggle(in mobile version)-->
        <ul class="navbar-nav h5 d-md-none mx-auto">
            <li class="nav-item "><a href="{{ url_for('cart') }}" class="nav-link my-0 h6">
                Корзина(
                {%- if session['cart_total'] -%}
                    {{ session['cart'] | sum(attribute='count') }} товар
                    {{ session['cart_total'] }} руб.
                {%- else -%}
                    Пустая
                {%- endif %})</a></li>
        </ul>

        <!-- toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <a class="navbar-brand h5 my-0 " href="{{ url_for('main') }}">Daily Food</a>

            <ul class="navbar-nav h5 mr-auto">
                <li class="nav-item"><a href="{{ url_for('account') }}" class="nav-link my-0">Заказы</a></li>

                {% if current_user.is_admin %}
                    <li class="nav-item"><a href="{{ url_for('admin.index') }}" class="nav-link my-0">CRM</a></li>
                {% endif %}
            </ul>


            <ul class="navbar-nav ">
                <!--cart in desktop version -->
                <li class="nav-item mr-4 d-none d-md-block"><a href="{{ url_for('cart') }}"
                                                               class="nav-link my-0 h6 ">
                    Корзина(
                    {%- if session['cart_total'] -%}
                        {{ session['cart'] | sum(attribute='count') }} товар
                        {{ session['cart_total'] }} руб.
                    {%- else -%}
                        Пустая
                    {%- endif %})</a></li>


                {% if current_user.is_authenticated %}
                    <li class="nav-item my-auto"><a href="{{ url_for('logout') }}"
                                                    class="btn btn-light btn-sm ">Выйти</a>
                    </li>
                {% else %}
                    <li class="my-auto"><a href="{{ url_for('login') }}"
                                           class="btn btn-warning btn-sm ml-4">Войти</a></li>
                {% endif %}
            </ul>

        </div>

    </nav>
</header>